h1.top-menu-container-text {
    text-align:center;
    font-family:'sans-serif';
    font-weight:lighter;
    transition: all 0.6s ease;
    text-decoration:none;

}
h1.top-menu-container-text:hover {
    text-align:center;
    font-family:'sans-serif';
    font-weight:lighter;
    color:gray;
    transform: scale(1.2); /* scale up the text */
    text-decoration:none;
}
div.top-menu-container {
    width:50%;
    height:78px;
    position:relative;
    background-color:rgb(71, 71, 71);
    border-radius:10px;
    border-style:solid;
    padding:1px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo) 1;
    animation: rainbow-border 10s linear infinite;
    border-image-slice: 1;
    left:450px;
}
@keyframes rainbow-border {
    0% {
        border-image-offset: 0%;
    }
    100% {
        border-image-offset: 100%;
    }
}
.container-hyperlink {
    color:black;

}
#home-screen-top-menu-container-one {
    padding:2px
}
div.break {
    height:7px;
    width:50%;
    left:450px;
    position:relative;
    background-color:#151515
}

